@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

.heading {
position: absolute;
width: 781px;
height: 56.49px;
left: 12px;
top: 28px;

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
letter-spacing: 0.05em;

color: #B58152;
}

.service-p {
    position: absolute;
width: 1240px;
height: 83.73px;
left: 18px;
top: 316.77px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;

color: #555555;
}

.offers-div{
position: absolute;
width: 100%;
height: 658px;
left: 77px;
top: 1208px;

background: #F3F0EB;
}
.offers-p{
position: absolute;
width: 662.26px;
height: 82.78px;
left: 141.21px;
top: 280.53px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;

color: #555555;
}
.offers-heading{
position: absolute;
width: 432.95px;
height: 208.01px;
left: 132px;
top: 100px;

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
letter-spacing: 0.05em;

color: #B58152;
}
.offers-img img{
position: absolute;
width: 575.12px;
height: 443.62px;
left: 92.64px;
top: 2135.72px;

}
.reviews-div {
position: absolute;
width: 1291px;
height: 373px;
left: 79px;
top: 2725px;

background: #D9D9D9;
}
.reviews-card{
position: absolute;
width: 361px;
height: 321px;
left: 518px;
top: 2744px;

/* background: url(8.png); */
}